<div>
  <h1 >All Lines List</h1>
  <br>
  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th style="text-align: center; vertical-align: middle;">Line name </th>
      <th  *ngIf="jwtService.tokenExist() && jwtService.hasRole('ADMIN')" style="text-align: center; vertical-align: middle;">Add new departure </th>
      <th style="text-align: center; vertical-align: middle;">Show All Departures </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of scheduleItems">
      <td style="text-align: center; vertical-align: middle;">{{item.name}}</td>
      <td *ngIf="jwtService.tokenExist() && jwtService.hasRole('ADMIN')"  style="text-align: center; vertical-align: middle;">
        <button class="btn btn-dark" (click)="openAddDepartureDialog(item)">
          <span class="glyphicon glyphicon-plus">

          </span>
        </button>
      </td>
      <td style="text-align: center; vertical-align: middle;">
        <button class="btn btn-primary" (click)="openDeparturesListDialog(item)">
        <span class="glyphicon glyphicon-list-alt">
        </span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


