<div>
  <button (click)="openAddLineModal()"> <img alt="add" src="../../assets/icons/add_icon.ico"></button>
  <h1 >All Lines</h1>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="text-align: center; vertical-align: middle;">Line name: </th>
      <th style="text-align: center; vertical-align: middle;">Stations</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lines">
        <td style="text-align: center; vertical-align: middle;">{{item.name}}</td>
        <td md-button class="submit-btn" style="text-align: center; vertical-align: middle;"><button (click)="deleteLine(item)">Delete line</button></td>
      </tr>
    </tbody>
  </table>
</div>
