<div class="container">
  <h1>Buy ticket</h1>

  <form>

    <br>

    <div class="form-group">
      <label for="ticketType">Ticket Type </label>
      <select class="form-control" id="ticketType" (change)="onChange($event)" [(ngModel)]="selectedOption" name="Monthly" required>
        <option *ngFor="let o of options">
          {{o.name}}
        </option>
      </select>
    </div>
    <label>Price: {{selectedPrice}}</label>
    <div>
      <button id="buyButton" (click)="buyTicket()" type="submit" class="btn btn-success">Buy Selected</button>
      <button id="listingButton" (click)="openOwnedTicketsDialog()" class="btn btn-light">Show Owned</button>
      <button (click)="buyTicket()"type="submit" class="btn btn-dark">Buy Selected</button>
      <button (click)="openOwnedTicketsDialog()" class="btn btn-light">Show Owned</button>
    </div>

  </form>
</div>
