<div class="container">
  <h1>Buy ticket.</h1>
  <form>

    <div class="form-group">
      <label for="ticketType">Ticket Type</label>
      <select class="form-control" id="ticketType" [(ngModel)]="selectedOption" name="Monthly" required>
        <option *ngFor="let o of options">
          {{o.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="transportationType">Transportation Type</label>
      <select class="form-control" id="transportationType" required>
        <option value="metro">Metro</option>
        <option value="bus">Bus</option>
        <option value="tram">Tram</option>
      </select>
    </div>

    <button (click)="buyTicket()"type="submit" class="btn btn-success">Buy</button>

    <button (click)="openOwnedTicketsDialog()" class="btn btn-info">Show Owned</button>

  </form>
</div>
