
<h2 mat-dialog-title>Dew Departure Dialog</h2>
<hr>
<div>
  <mat-dialog-content>

    <div  class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="1"> Working Day
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="2"> Saturday
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="3"> Sunday
      </label>
    </div>
    <br>
    <div style="display: inline-block; text-align: center; vertical-align: middle;">
      <ngb-timepicker style="font-size:12px; display: inline-block;text-align: center; vertical-align: middle;"  [(ngModel)]="time"></ngb-timepicker>
    </div>
      <hr>
    <button id="closeButton" class="btn btn-secondary" (click)="close()">Close</button>
    <button id="doneButton" class="btn btn-primary" (click)="save()">Save</button>
  </mat-dialog-content>
</div>

