<div>
<h2 style="text-align: center; vertical-align: middle;" mat-dialog-title>Owned Tickets</h2>

<mat-dialog-content>

    <table id="ticketsTable" class="table table-striped">
      <thead>
      <tr>
        <th style="text-align: center; vertical-align: middle; width: 100px">Ticket Type</th>
        <th style="text-align: center; vertical-align: middle;">Start Time</th>
        <th style="text-align: center; vertical-align: middle;">End Time</th>
<!--        <th style="text-align: center; vertical-align: middle;">Archive Ticket</th>-->
        <th style="text-align: center; vertical-align: middle;">Price</th>
        <th style="text-align: center; vertical-align: middle;">Activate Ticket</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of tickets; index as i">
        <td style=" text-align: center; vertical-align: middle; width: 100px">{{item.ticketType}}</td>
        <td style=" text-align: center; vertical-align: middle; width: 100px">{{item.startTime | date: 'd/M/yyyy, HH:mm'}}</td>
        <td style=" text-align: center; vertical-align: middle; width: 100px">{{item.endTime | date: 'd/M/yyyy, HH:mm'}}</td>
        <!--<td style="text-align: center; vertical-align: middle;" >-->
          <!--<button class="btn btn-danger"(click)="archiveTicket(item)">-->
            <!--<span class="glyphicon glyphicon-trash"></span>-->
          <!--</button>-->
        <!--</td>-->
        <td style=" text-align: center; vertical-align: middle; width: 100px">{{item.price}}</td>
        <td id="activation" style="text-align: center; vertical-align: middle;"><button *ngIf="item.ticketType === 'SINGLE' && item.active==false" class="btn btn-success" (click)="activateTicket(item)">Activate</button></td>
      </tr>
      </tbody>
    </table>
    <button id="closeButton" class="btn btn-secondary" (click)="close()">Close</button>
</mat-dialog-content>
</div>


