<div style="min-height: 500px; max-height: 500px;">
<h2 style="text-align: center; vertical-align: middle;" mat-dialog-title>Time Schedule</h2>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="day" >
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1" (change)="radioChange($event)"> Working Day
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="2" (change)="radioChange($event)"> Saturday
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="3" (change)="radioChange($event)"> Sunday
    </label>
  </div>

<mat-dialog-content>

    <table id="departuresTable" class="table table-striped">
      <thead>
      <tr>
        <th style="text-align: center; vertical-align: middle; width: 100px">Time</th>
        <th style="text-align: center; vertical-align: middle;">Remove Departure</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of departures; index as i">
        <td style=" text-align: center; vertical-align: middle; width: 100px">{{item}}</td>
        <td style="text-align: center; vertical-align: middle;"><button (click)="removeDeparture(i)"> <img style="font-size: 0.73em;" alt="delete" src="../../../assets/icons/delete_icon.ico"></button></td>
      </tr>
      </tbody>
    </table>


</mat-dialog-content>

</div>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>
