<div style="background-color: rgb(66, 139, 202); font-family: Poppins-Regular; height: -webkit-fill-available;">
  <div class="jumbotron" style="background-color: rgb(66, 139, 202);">
    <h1 class="display-4">Explore Novi Sad with public transport</h1>
    <p class="lead">Buy tickets, track location, check timelines..</p>
    <hr style="background-color:black; border-color: black;">
  </div>
  <div class="wrapper" style="background-color: rgb(66, 139, 202);">
    <div>
      <img src="https://www.dropbox.com/s/1xl3fnmcgg9e7gf/bus.png?raw=1" alt="" class="bus"/>
    </div>
    <div class="wrapper-2">
      <img src="https://www.dropbox.com/s/qczcjewss1v7vk6/road.png?raw=1" alt="" class="road"/>
    </div>
  </div>
</div>

