<head>
    <script src='/node_modules/angular-route/angular-route.min.js'></script>
</head>
<div class="container">
  <div class="box">
    <div class="left-navbar">
      <nav class="nav-left">
        <div id="nav-toggleable-md" class="collapse">
          <ul class="nav nav-stacked">
            <li class="label">Employees</li>
            <li class="choice"><a routerLinkActive="active" routerLink="/admin-dashboard/register-new" class="cha" >Register new</a></li>
            <li class="choice"><a routerLinkActive="active" routerLink="/admin-dashboard/show-registered" class="cha">See all</a></li>
            <li class="label">Reports</li>
            <!--li class="choice"><a routerLinkActive="active" routerLink="/admin-dashboard/show-daily" class="cha">Daily reports</a></li>
            <li class="choice"><a routerLinkActive="active" routerLink="/admin-dashboard/show-monthly" class="cha">Monthly reports</a></li>
            <li class="choice"><a routerLinkActive="active" routerLink="/admin-dashboard/show-yearly" class="cha">Yearly reports</a></li-->
            <li class="choice"><a routerLinkActive="active" routerLink="/admin-dashboard/reports" class="cha">Show reports</a></li>
          </ul>
        </div>
        <hr class="break">
      </nav>
    </div>
    <div class="options">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<script>
  $("a").click(function() {
      $("a").removeClass("current");
      $(this).addClass("current");
    });
</script>