.center {
    position: relative;
    left: 45%;
}

.alert {
    top: 5px;
    bottom: -20px;
    padding: 0 !important;
    left: 5%;
    max-width: 90%;
}

.table {
    border-radius: 40px;
}

tr {
    border: 0px;
}

.table td, .table th {
    border: none;
}